{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} | POP</title>
    {% comment %} <script src="https://cdn.tailwindcss.com"></script> {% endcomment %}
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
    <link rel="stylesheet" href="{% static 'core/css/font.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body class="bg-gray-100">
    <nav class="py-6 px-52 flex justify-between items-center h-14 shadow-lg z-10 relative bg-white">
        <div>
            <a href="/">
                <div class="flex items-center space-x-3">
                    <img class="h-8" src="{% static "logo.png" %}">
                    <h1 class="text-2xl font-bold">POP</h1>
                </div>
            </a>
        </div>
    </nav>

    <div class="mt-12 flex justify-center">
        {% block content %}
        
        {% endblock content %}
    </div>
</body>
</html>