{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %} | POP</title>
    {% comment %} <script src="https://cdn.tailwindcss.com"></script> {% endcomment %}
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
    <link rel="stylesheet" href="{% static 'core/css/font.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body class="bg-gray-100">
    <nav class="py-6 px-52 flex justify-between items-center h-14 shadow-lg z-10 z-40 fixed top-0 w-full bg-white">
        <div class="relative flex items-center space-x-4">
            <a href="/">
                <div class="flex items-center space-x-1">
                    <img class="h-9" src="{% static "logo.png" %}">
                    <h1 class="text-3xl font-bold">POP</h1>
                </div>
            </a>
            <ul>
                <li class="px-2 bg-gray-200 rounded-full text-md font-normal text-gray-500 {% if request.path == '/' %}active {% else %} hidden {% endif %}">HOME</li>
                <li class="px-2 bg-gray-200 rounded-full text-md font-normal text-gray-500 {% if request.path == '/posts/explore/' %}active {% else %} hidden {% endif %}">EXPLORE</li>
                <li class="px-2 bg-gray-200 rounded-full text-md font-normal text-gray-500 {% if request.path == '/posts/saved/' %}active {% else %} hidden {% endif %}">SAVED</li>
                <li class="px-2 bg-gray-200 rounded-full text-md font-normal text-gray-500 {% if request.path == '/posts/new/' %}active {% else %} hidden {% endif %}">NEW</li>
            </ul>
        </div>

        {% comment %} search {% endcomment %}

        <div class="flex space-x-3">
        {% if request.user.is_authenticated %}
        <div class="flex items-center">
            <div class="flex items-center mr-3 border-2 border-gray-400 rounded-full hover:bg-gray-200">
                <a href="{% url "users:profile" user.username %}" class="flex items-center">
                    <div class="ml-2">
                        <p class="text-lg mr-2">{{ user.username }}</p>
                    </div>
                    {% if user.user_profile and user.user_profile.profile_picture %}
                        <div class="w-9 h-9 rounded-full overflow-hidden border-2 border-gray-300">
                            <img class="w-full h-full object-cover object-center aspect-square" src="{{ user.user_profile.profile_picture.url }}">
                        </div>
                    {% else %}
                        <div class="w-9 h-9 rounded-full overflow-hidden border-2 border-gray-300">
                            <img class="w-full h-full object-cover object-center aspect-square" src="{% static "user2.png" %}">
                        </div>
                    {% endif %}
                </a>
            </div>
            <a href="{% url "core:logout" %}" class="px-4 py-1 bg-yellow-400 rounded-full hover:bg-yellow-500">
                <h2 class="font-semibold text-lg text-white">Logout</h2>
            </a>
        </div>
        {% else %}
            <a href="{% url "core:signup" %}" class="px-3 py-1 hover:text-yellow-400">
                <h2 class="font-semibold text-lg">Sign Up</h2>
            </a>
            <a href="{% url "core:login" %}" class="px-4 py-1 bg-yellow-400 rounded-full hover:bg-yellow-500">
                <h2 class="font-semibold text-lg text-white">Login</h2>
            </a>
        {% endif %}
        </div>
    </nav>

        {% if request.user.is_authenticated %}
        <div class="w-52 shadow-lg rounded-lg px-3 py-3 space-y-4 h-fit bg-white fixed top-20 left-52">
            <a href="{% url "core:index" %}" class="hover:text-yellow-400 active:text-yellow-400 block">
                <div class="flex items-center space-x-3">
                    <img class="h-5" src="{% static "home2.png" %}">
                    <h2 class="text-xl">Home</h1>
                </div>
            </a>
            <a href="{% url "posts:explore" %}" class="hover:text-yellow-400 active:text-yellow-400 block">
                <div class="flex items-center space-x-3">
                    <img class="h-5" src="{% static "search2.png" %}">
                    <h2 class="text-xl">Explore</h1>
                </div>
            </a>
            <a href="{% url "posts:saved" %}" class="hover:text-yellow-400 active:text-yellow-400 block">
                <div class="flex items-center space-x-3">
                    <img class="h-5" src="{% static "save.png" %}">
                    <h2 class="text-xl">Saved</h1>
                </div>
            </a>
            <a href="#" class="hover:text-yellow-400 active:text-yellow-400 block">
                <div class="flex items-center space-x-3">
                    <img class="h-5" src="{% static "comment2.png" %}">
                    <h2 class="text-xl">Chats</h1>
                </div>
            </a>
            <a href="{% url "posts:new" %}" class="rounded-lg shadow-lg bg-yellow-400 text-white hover:bg-yellow-500 text-center block">
                    <p class="font-semibold text-lg">New Post</p>
            </a>
        </div>
        {% endif %}

        <button id="scrollToTopBtn" class="fixed bottom-8 right-52 w-12 h-12 hidden bg-yellow-400 text-white rounded-full p-3 shadow-lg hover:bg-yellow-500 transition-all duration-300">
            ↑
        </button>
    
        <script>
            const scrollToTopBtn = document.getElementById("scrollToTopBtn");
    
            window.onscroll = function() {
                if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
                    scrollToTopBtn.classList.remove("hidden");
                } else {
                    scrollToTopBtn.classList.add("hidden");
                }
            };
    
            scrollToTopBtn.addEventListener("click", function() {
                window.scrollTo({
                    top: 0,
                    behavior: "smooth"
                });
            });
        </script>
    
                
    <div class="px-36 py-20 flex justify-center">
        <div class="w-1/2">
            {% block content %}
            
            {% endblock content %}
        </div>
    </div>
</body>
</html>