{% extends 'core/base.html' %}

{% load static %}
    
{% block title %}{{ stat|title }}{% endblock title %}

{% block content %}
<div class="rounded-lg bg-white px-6 py-3 shadow-lg">
    <div class="flex items-center">
        <a href="{% url "users:profile" profile.user.username %}">
            <h2 class="text-2xl font-bold">{{ profile.user.username }}</h2>
        </a>
        <p class="text-2xl">'s {{ stat }}</p>
    </div>
    <ul class="list-none mt-4">
        {% for user in users %}
        <a href="{% url 'users:profile' user.username %}">
            <li class="flex items-center px-2 py-2 border-2 mb-2 rounded-lg hover:bg-gray-200">
                {% if user.user_profile.profile_picture %}
                    <img src="{{ user.user_profile.profile_picture.url }}" class="border-2 border-gray-300 w-10 h-10 rounded-full">
                {% else %}
                    <img src="{% static "user2.png" %}" class="border-2 border-gray-300 w-10 h-10 rounded-full">
                {% endif %}
                <p class="ml-2">{{ user.username }}</p>
            </li>
        </a>
        {% empty %}
        <li>No {{ stat }} found.</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
